body {
    text-align: center;
}

button {
    margin: 10px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;

}

button:hover {
    background-color: black;
    color: white;
}

h1, h2, h3, p, li {
    font-size: 30px;
    padding: 20px;
}

h1 {
    font-size: 50px;
}

li {
    padding: 10px;
    width: auto;
    color: rgb(104, 104, 104);
}

li:hover {
    color:black;
}

p {
    font-size: 20px;
    padding: 5px;
}

ul {
    list-style-type: circle; 
    margin-left: 4em;
}

#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#content div{
    text-align: left;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    margin: 15px;
}

.projectTab:hover {
    background-color: black;
    color: white;
}

#projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#projects div {
    display: block;
}

#newProject:hover {
    background-color: green;
}

#lists {
    height: fit-content;
}

.fieldWrap {
    display: flex;
    justify-content: center;
    border-style:none !important;
    width: fill;
    text-align: center;
}

label {
    width: 30%;
    text-align: right;
    padding: 10px;
    font-size: 20px;
}

input {
    font-size: 20px;
    width: 50%;
}

.form {
    position: absolute;
    background-color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
}

.form button {
    position: relative;
    margin: 10px 50%;
    margin-bottom: 20px;
    padding: 15px;
    width: 100px;
    font-size: 18px;
    transform: translate(-50%, 0);
}

.close {
    height: 20px;
    width: 20px;
    text-align: center !important;
    padding: 4px 2px 0px 2px;
    border-radius: 4px !important;
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: sans-serif;
}

.close:hover {
    background-color: red;
    color: white;
}